*{
    box-sizing: border-box;
    user-select:none;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(188, 228, 237) 0%, rgba(78, 8, 51, 0) 35%, rgb(218, 125, 225) 100%);
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
}
.upload-button{
    width:150px;
    height:55px;
    border-radius: 25px;
    background-color:rgba(209, 40, 96, 0.89);
    border:0px;
    color:white;
    padding-top:10px;
    font-size:30px;
    text-align: center;
}
.upload-button:hover{
    cursor:pointer;
    filter:brightness(1.2)
}
.languagesimg{
    width: 143px;
    height: 208px;
    border-radius:15px;
}
.fa-code{
    margin-top: 140px;
}
.header::after{
    content:"" ;
    height: 100vh;
    width: 100vh,;
    background-image: url(/LandingPage/img/landscape.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    -webkit-filter: blur(15px);
    filter:blur(15px);
}
hr{
    color:white;
    background-color:white;
    height:9px;
    border-radius:15px;
}
section, .intrinsic-size{
    backface-visibility: auto;
}
.olstyle{
    position:static;
    border:solid white 0.5px;
    background-color:rgba(230, 241, 245, 0.349);
    height:28px;
    border-radius:70px;
    margin-left:380px;
    margin-right:380px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2)
}
.cursordefault{
    cursor: default;
}

.linkbutton{
    border:0px;
    background-color:rgba(252, 226, 244, 0);
    
}
.cursorpointer{
    cursor: pointer;
}
.nav{ 
    width: 100%;
    height: 125px;
    position: absolute;
    z-index: 2;
}
.header-content{
    position: absolute;
    z-index: 1;
    top: 25%;
    margin-top: 40px;
    margin-left:43%;
    text-align: center;
    align-content: center;
    width: 200px;
    height: 250px;
}
#PODCAST:hover{
    cursor:none;
}
 #ARTICLES, #COURSES,#HOME, #PODCAST{
    border-radius: 15px;
    font-size: 20px;
    background-color:rgba(255, 255, 255, 0.056);
    border: 0px;
    filter: brightness(1.00);
    text-align:center;
    font-family: 'Roboto', sans-serif;
}
#ARTICLES:hover, #PODCAST:hover, #COURSES:hover, #HOME:hover{
    background-color:rgb(255, 255, 255, 0.163);
    filter: brightness(1.5);
    border-radius: 15px;
}
.copyrightbutton:hover{
    cursor: pointer;
}
.margin3{
    margin-top:50px;
    margin-bottom: 50px;
}
.copyrightbutton{
    border-radius: 1px;
    border: 6px;
    position:sticky;
    background-color:rgb(188, 229, 255) ;
}
.card-2{
    height:20px;
    width:180px;
    border-radius: 10%;
    background-color:#ffffff6a;
    box-shadow: 7px 7px 5px  rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.card{  
    height: 310px;
    width: 240px;
    border-radius: 10%;
    background-color:#ffffff6a;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.015);
    box-shadow: 3px 7px 13px 0 rgba( 31, 38, 135, 0.37 );
}
.card:hover{
    font-size:19px;
    box-shadow: 2px 3px 6.5px 0 rgba( 31, 38, 135, 0.37 );
}
.fab.fa-instagram{
    color: rgb(240, 61, 160);
}
.fab.fa-youtube{
    color: #ff0000dd;
}
.fab.fa-facebook-square{
    color: #3b5998;
}
.footer{
    font-size: 20px;
}
.title{
    font-family: "Courgette", cursive;
    font-size: 2rem;
}
.container_2{
    max-width: 1560px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.fa-box-open{
    color:#f94873;
}
.fa-user-astronaut{
    color:#f94873;
}
.fa-box-open:hover{
    filter:brightness(1.1);
    -webkit-filter: brightness(1.1);
}
.fa-user-astronaut:hover{
    filter:brightness(1.1);
    -webkit-filter: brightness(1.1);
}
.fab.fa-youtube:hover{
    color:red;
}
.fab.fa-instagram:hover{
    -webkit-filter: brightness(1);
    filter: brightness(1);
}
.fab.fa-facebook-square:hover{
    -webkit-filter: brightness(1.4);
    filter: brightness(1.4)
}
.grid-3_0{
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 100px;
}
.circle{
    border-radius: 300px;
}
.grid-4{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  
}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.text-center{
    text-align: center;
    margin: auto;
}
.services{
    padding: 2rem 0;
}
.footer{
    padding: 1rem;
}
.logo{
    margin-bottom:20px;
    margin-top:45px;
    height:150px;
    width:150px;
}
.linkstyle{
    color: black;
    text-decoration: none;
}
.linkcolor{
    color:teal
}
@media(max-width:1400px){
    .menu, .olstyle{
        padding: auto;
        margin-left:25%;
        margin-right:25%;
    
    }
    #PODCAST, #ARTICLES, #COURSES, #HOME{
        padding: auto;
        margin:auto;
        text-align: auto;
    }
    .gallery-cover{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 100px;
    }
}
@media(max-width:1300px){
    .menu, .olstyle{
        padding: auto;
        margin-left:auto;
        margin-right:auto;
    
    }
}
@media(max-width: 960px) {
.grid-3{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;
}
.card-2{
    height:180px
}
@media(max-width: 513px) {
    .grid-4{
        display:grid;
        grid-template-columns:1fr;
    }
    .olstyle{
    position:center;
    border:solid rgba(255, 255, 255, 0) 0.5px;
    background-color:rgba(230, 241, 245, 0);
    margin-right: 50px;  
    box-shadow:none;
    }
    .menu{
        text-align:center;
    }
    }
    .languagesimg{
        width:83px;
        height: 120px;
    }
    .fa-code{
        font-size:90px;
    }
    .fa-project-diagram{
        font-size:120px;
    }
    .header-content{
        position: absolute;
        z-index: 1;
        top: 25%;
        margin-top: 40px;
        margin-left:37%;
        text-align: center;
        align-content: center;
        width: 200px;
        height: 250px;
    }
}
@media(max-width: 475px){
    .header-content{
        margin-left:33%;
    }
}
@media(max-width: 390px){
    .header-content{
        margin-left:27%;
    }
}
@media(max-width: 300px){
    .header-content{
        margin-left:20%;
    }
    .logo{
        height:150px;
        width:150px;
        animation-duration: 5s;
    }
    .languagesimg{
        width:83px;
        height: 120px;
        margin-right: 50px;
    }
    .responsive-300px{
        font-size: 20px;
    }
    .fa-project-diagram{
        font-size:90px;
    }
}